workflows/n8n/ramsisa-to-hubspot-tasks/workflow.json
{
  "name": "Ramsisa → HubSpot Tasks",
  "nodes": [
    {
      "parameters": {
        "enrichWithStatus": true,
        "downloadCsv": true,
        "binaryPropertyName": "data"
      },
      "name": "Ramsisa Trigger",
      "type": "n8n-nodes-ramsisa.ramsisaTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "ramsisaApi": {
          "name": "Ramsisa API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Parse the Ramsisa schedule CSV into one item per visit.\n//\n// CSV columns emitted by the Ramsisa engine:\n//   date, order, location_id, location_name, territory, tier\n// The engine does not emit a per-visit time, so all tasks are scheduled at\n// 09:00 local on the visit date. Adjust `DEFAULT_TIME` below if a different\n// default suits your team.\n\nconst DEFAULT_TIME = '09:00:00';\n\nconst csvBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst csv = csvBuffer.toString('utf8');\nconst lines = csv.split(/\\r?\\n/).filter((l) => l.length > 0);\nif (lines.length < 2) return [];\n\nfunction parseLine(line) {\n  const out = [];\n  let cur = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const c = line[i];\n    if (inQuotes) {\n      if (c === '\"' && line[i + 1] === '\"') { cur += '\"'; i++; }\n      else if (c === '\"') { inQuotes = false; }\n      else { cur += c; }\n    } else if (c === '\"') {\n      inQuotes = true;\n    } else if (c === ',') {\n      out.push(cur); cur = '';\n    } else {\n      cur += c;\n    }\n  }\n  out.push(cur);\n  return out;\n}\n\nconst header = parseLine(lines[0]).map((h) => h.trim());\nconst idx = (n) => header.findIndex((h) => h.toLowerCase() === n);\nconst iCompany = idx('location_id');\nconst iDate = idx('date');\nconst iOrder = idx('order');\nconst iName = idx('location_name');\nconst iTerritory = idx('territory');\nconst iTier = idx('tier');\n\nif (iCompany === -1) throw new Error('Schedule CSV is missing a `location_id` column.');\nif (iDate === -1) throw new Error('Schedule CSV is missing a `date` column.');\n\nconst out = [];\nfor (let i = 1; i < lines.length; i++) {\n  const cells = parseLine(lines[i]);\n  const companyId = (cells[iCompany] ?? '').trim();\n  const date = (cells[iDate] ?? '').trim();\n  if (!companyId || !date) continue;\n\n  const raw = {};\n  for (let j = 0; j < header.length; j++) raw[header[j]] = cells[j];\n\n  const epochMs = new Date(`${date}T${DEFAULT_TIME}`).getTime();\n\n  const name = iName !== -1 ? (cells[iName] || '').trim() : '';\n  const order = iOrder !== -1 ? (cells[iOrder] || '').trim() : '';\n  const territory = iTerritory !== -1 ? (cells[iTerritory] || '').trim() : '';\n  const tier = iTier !== -1 ? (cells[iTier] || '').trim() : '';\n\n  const subjectName = name || companyId;\n  const subject = order\n    ? `Ramsisa visit #${order}: ${subjectName}`\n    : `Ramsisa visit: ${subjectName}`;\n\n  out.push({\n    json: {\n      company_id: companyId,\n      date,\n      order,\n      territory,\n      tier,\n      epoch_ms: epochMs,\n      subject,\n      raw,\n    },\n  });\n}\n\nif (out.length === 0) throw new Error('Schedule CSV had a header but no rows.');\nreturn out;"
      },
      "name": "Parse CSV per visit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"hs_task_subject\": \"{{ $json.subject.replaceAll('\"','\\\\\"') }}\",\n    \"hs_task_body\": \"Generated by Ramsisa schedule {{ $('Ramsisa Trigger').first().json.schedule_id }}.\\nTerritory: {{ $json.territory || '—' }}\\nTier: {{ $json.tier || '—' }}\\nDay order: {{ $json.order || '—' }}\",\n    \"hs_task_status\": \"NOT_STARTED\",\n    \"hs_task_priority\": \"MEDIUM\",\n    \"hs_task_type\": \"TODO\",\n    \"hs_timestamp\": {{ $json.epoch_ms }}\n  },\n  \"associations\": [{\n    \"to\": { \"id\": \"{{ $json.company_id }}\" },\n    \"types\": [{ \"associationCategory\": \"HUBSPOT_DEFINED\", \"associationTypeId\": 192 }]\n  }]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1000
            }
          }
        }
      },
      "name": "HubSpot: Create task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        260
      ],
      "credentials": {
        "hubspotApi": {
          "name": "HubSpot account"
        }
      }
    }
  ],
  "connections": {
    "Ramsisa Trigger": {
      "main": [
        [
          {
            "node": "If completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If completed": {
      "main": [
        [
          {
            "node": "Parse CSV per visit",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Parse CSV per visit": {
      "main": [
        [
          {
            "node": "HubSpot: Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
